.menu {
    $root: &;
    background: darken($dark, 3%);
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    float: left;
    width: $menu-size;
    box-sizing: border-box;
    border-right: 1px solid rgba($primary, 0.15);

    @include mobile {
        flex-direction: row;
        width: 100%;
        height: $menu-size;
        border-right: none;
        border-bottom: 1px solid rgba($primary, 0.15);
    }

    &-top {
        box-sizing: border-box;
        height: 100%;
        flex-grow: 1;
    }

    &-top {
        padding-left: 3px;
        padding-right: 3px;
        @include mobile {
            padding: 3px 10px 3px 10px;
        }
    }

    ul {
        @include mobile {
            display: flex;
            flex-direction: row;
            margin: 0;
        }
        padding-left: 0px;
        list-style: none;

        li {
            display: flex;
            height: 50px;
            justify-content: center;
            position: relative;

            a {
                align-items: center;
                color: $p_text_dimmed;
                cursor: pointer;
                display: flex;
                font-weight: 400;
                justify-content: center;
                letter-spacing: 1px;
                line-height: 28px;
                transition: all 0.3s ease;
                border-radius: 8px;
                margin: 2px 4px;
                padding: 0 8px;

                &:hover {
                    font-weight: 500;
                    color: $primary;
                    background: rgba($primary, 0.1);
                }

                &.selected {
                    color: $secondary;
                    background: rgba($primary, 0.12);

                    &::before {
                        content: "";
                        display: block;
                        width: 3px;
                        height: 60%;
                        background: linear-gradient(180deg, $primary, $secondary);
                        position: absolute;
                        left: 0;
                        top: 20%;
                        border-radius: 2px;

                        @include mobile {
                            height: 3px;
                            width: 60%;
                            top: auto;
                            bottom: 0;
                            left: 20%;
                        }
                    }
                }

                @include mobile {
                    height: calc(#{$menu-size} - 10px);
                    width: $menu-size;
                    font-size: 28px;
                }

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    h1 {
        font-size: 1.8em;
        padding: 0.5em;
        color: $secondary;
    }

    h2 {
        color: $p_text_dimmed;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.3;
    }

    &-contact {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
        gap: 8px;

        @include mobile {
            font-size: 16px;
            max-height: $menu-size;
            margin-bottom: 0;
            display: inline-grid;
            grid-template-rows: 50% 50%;
            gap: 4px;

            a:nth-child(odd) {
                grid-row-start: 1;
            }
            a:nth-child(even) {
                grid-row-start: 2;
            }
            a:nth-child(odd):last-child {
                margin-top: 13px;
            }
        }

        a {
            color: $p_text_dimmed;
            cursor: pointer;
            text-align: left;
            text-size-adjust: 100%;
            user-select: none;
            transition: all 0.3s ease;
            padding: 4px;
            border-radius: 4px;

            &:hover {
                color: $secondary;
                background: rgba($primary, 0.1);
            }
        }
    }
}

.is-minimal-menu {
    .menu {
        width: $minimal-menu-size;

        @include mobile {
            height: $minimal-menu-size;
            width: 100%;
        }

        ul {
            li {
                a {
                    i {
                        margin: 0;
                    }

                    @include mobile {
                        height: calc(#{$minimal-menu-size} - 10px);
                        width: $minimal-menu-size;
                    }
                }
            }
        }
    }
}
