
ul.bluesky-timeline-item {
  display: grid;
  grid-template-columns: 1fr 8fr; /* 4frから3frに変更して横幅を狭くする */
  list-style-type: none; /* リストマーカーを非表示にする */
  align-items: center;
  column-gap: 0em; /* カラム間のスペースを設定 */
  row-gap: 0.4em;
}

ul > li.bsky-date {
  font-size: 0.8em;
  color: #666;
  text-align: center; /* 中央揃えに変更 */
  width: 100%; /* セルの大きさを最大まで大きくする */
  height: 100%;
  background-color: #333333; /* 背景色を灰色に変更 */
  border: 2px solid #07559a; /* 外枠に青い線を追加 */
}

ul > li.bsky-msg {
  font-size: 0.8em;
  color: #fff;
  text-align: left; /* 左揃えに変更 */
  /* margin-bottom: 1em; */
  width: 100%; /* セルの大きさを最大まで大きくする */
  height: 100%;
  background-color: #333333; /* 背景色を灰色に変更 */
  border: 2px solid #07559a; /* 外枠に青い線を追加 */
}

ul > li.bsky-msg > a {
    color: #aaf;
    text-decoration: underline;
}

.bluesky-timeline-anchor {
    font-size: 0.8em;
}

.image_center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* noteリスト形式 */
ul.note-cards {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.note-card {
  margin-bottom: 0.5em;
}

li.note-card a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  background-color: #333;
  border-radius: 4px;
}

li.note-card a:hover {
  opacity: 0.8;
}

li.note-card img {
  width: 120px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
}

li.note-card span {
  font-size: 0.9em;
}
