
h2 a {
    text-decoration: underline #4fc2f7;
    color: #4fc2f7;
}


h3 a {
    text-decoration: underline #4fc2f7;
    color: #4fc2f7;
}

h3 a:visited {
    color: #4fc2f7;
}


img[src*='#center'] { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 80%;
}
