---
---
// {% if site.data.metaData.lightTheme %}
// @import "./variables/light-theme";
// {% else %}
// @import "./variables/dark-theme";
// {% endif %}
@import "minimal-categorized";
@import "./highlight.css";
@import "./bsky_list.css";
@import "./coderdojokamiyama.css";

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.storeitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
