---
title: はじめてのかた
layout: category-aggregator
permalink: category-2.html
category: category-2
summary: はじめて参加する子どもたち、保護者の方へ向けたご案内を掲載しています。いつも参加している/参加したことがある方は<a href="category-1.html">いつものかた</a>へどうぞ！
---

<h2>コーダー道場神山へようこそ！</h2>

<p>コーダー道場神山は毎月、第３金曜日に月イチで開催しています。</p>

<p>ほごしゃのかたとご一緒に、下記の参加要項をよく読み、もうしこみフォームからお申し込みください。</p>

<h3>誰がやっているのか、コーダー道場とは何なのか</h3>
<p>といった運営の概要については『<a href="about.html">運営について</a>』のページで紹介しています。</p>

<h2>開催概要</h2>

<h3>開催日</h3>

<p>2022年1月以降は、毎月第３金曜日を開催日としています。</p>

<h3>開催時間</h3>

<p>18:00～19:30</p>
<p>途中参加＆途中離脱もご自由に！</p>

<h3>開催場所</h3>

<p>〒771-3310 徳島県名西郡神山町神領字大埜地374-1</p>

<h3>鮎喰川コモン(google map)</h3>

<div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13235.444859031013!2d134.3610471!3d33.9704065!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba18afad1d8ab7b4!2z6a6O5Zaw5bed44Kz44Oi44Oz!5e0!3m2!1sja!2sjp!4v1638708532128!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

{%include participate.html %}

{%include form-parts.html %}

<h2>次回の開催日など最新情報</h2>
<p><a href="https://twitter.com/cdkamiyama">Twitter</a>や<a href="https://www.facebook.com/CDKamiyama">Facebookページ</a>でお知らせしてます。よかったらフォローしてください。</p>

{%include twitter_announce.html %}


<h2>過去の開催報告</h2>
<p><a href="https://note.com/cdkamiyama/m/m1284da011111">note</a>に記事をまとめています。（ブログの公開についてもTwitterで発信しています！）</p>

{%include twitter_note.html %}

